<%- include("partials/header.ejs") %>
<!--Remember this include when add a new page-->
<main class="container">
  <!--main should move to main page-->
  <!---->
  <form>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="<%= defaultDate %>" />
  </form>
  <br />
  <!---->
  <h2 id="hm">Hoa Mai</h2>

  <h3>Visitor Statistics</h3>

  <% if (message) { %>
  <div
    style="
      padding: 10px;
      background-color: #e0ffe0;
      border: 1px solid #8bc34a;
      color: #33691e;
      margin-bottom: 20px;
    "
  >
    <%= message %>
  </div>
  <% } %> <% if (adminEmail) { %>
  <p style="font-size: 14px; color: #777; text-align: right">
    Logged in as: <strong><%= adminEmail %></strong>
  </p>
  <% } %>

  <div class="visitor-stats-container">
    <h1 class="visitor-stats-header">Visitor Statistics</h1>

    <p class="visitor-stats-subheader">
      <strong>Total Unique Visitors:</strong> <%= totalCount %>
    </p>
    <p class="visitor-stats-subheader">
      <strong>Last Updated:</strong>
      <%= lastUpdated ? new Date(lastUpdated).toLocaleString() : "N/A" %>
    </p>

    <h2 class="visitor-stats-header">Visitor IPs</h2>
    <table class="visitor-stats-table" id="visitorStatsTable">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Last Visited At</th>
        </tr>
      </thead>
      <tbody>
        <% visitors.forEach(visitor => { %>
        <tr>
          <td><%= visitor.ip_address %></td>
          <td><%= new Date(visitor.visited_at).toLocaleString() %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!--Refer to index.ejs how to include header and footer.ejs-->
</main>

<%- include("partials/footer.ejs") %><!--Remember this include when add a new page-->
